@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
body{
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    margin: 20px;
    padding: 29px;
    background-color: burlywood;
}
iframe{
    border: 10px solid burlywood;
}